.main{
    margin: 5px;
    overflow-y: auto;
}
.box-card {
    /*min-height: 500px;*/
}
.form {
    margin-bottom: 10px;
}
.info {
    background-color: #f3f3f380;
}
.info div {
    margin: 5px;
}
.m-5 {
    margin: 5px 2px;
}
.m-tb-5 {
    margin: 5px 0;
}
.content-width {
    min-width: 400px;
}
.p-r-5 {
    padding-right: 5px;
}
.f-r {
    float: right;
}
.chat-record {
    // max-height: 400px;
    width: 100%;
    overflow-x: auto;
    i {
      color: #cccccca1;
    }
    display: flex;
    flex-direction:column-reverse;
}
.way {
    .way-drawer{
        width: 560px;
    }
}
.video-player {
    padding:3px;
}
.chat {
    padding:5px;
}
.image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
}
@media screen and (max-width: 768px) and (min-width:481px) {
    .way {
        .way-drawer{
            width: 100%;
        }
    }
}
.chat-name{
    vertical-align: top;
    width: 75px;
    text-align: right;
    float: left;
}
.chat-one{
}
.chat-content {
    line-height: 22px;
}
.chat-time{
    float: right;
}
.ivu-card-body {
    padding:2px 5px;
}
.chat-menu{
    position:absolute;
    right: 0px;
}
.menu-display{
    display: block;
}
.upload-img {
    display: inline-block;
    vertical-align: bottom;
}
.send {
    display: inline-block;
    vertical-align: bottom;
}
